*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #261B59;
}
.navbar .container{
    display: flex;
    padding: 20px 0px; 
    align-items: center;
}
.nav-logo{
    width: 80px;
    height: 40px;
}
.nav-list{
    display: flex;
margin-left: 200px;
}
.nav-item{
    padding: 10px;
    margin: 10px;
}
.sign{
    background-color: #261B59;
    color: white;
    border-radius: 5px;
}
.attentive .container{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.attentive__image{
    width: 40%;
}
.attentive__content{
    width: 40%;
}
.attentive__content-title{
    font-size: 50px;
    font-weight: 800;
}
.attentive__content-text{
    position: relative;
    font-size: 14px;
    line-height: 2;
}

.attentive__image-box{
    position: absolute;
    top: 40%;
    right: 30%;
    width: 300px;
    height: 400px;
}
.box2{
    position: absolute;
    top: 0%;
    right: 10%;
    height: 150px;
}
.box3{
    position: absolute;
    top: 35%;
    right: 0%;
    width: 260px;
    height: 200px;
}
.attentive__service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 5;
}
.service__link{
    background-color: #261B59;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.stops{
    width: 100px;
    height: 100px;
    z-index: -5;
}